ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 15%;
  min-width: 240px;
  background-color: #303030;
  position: fixed;
  height: 100%;
  overflow: auto;
  /*
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    background-color: orange;
    */
}

li a {
  display: flex;
  color: #000;
  width:100%;
  padding: 8px 40px;
  text-decoration: none;
  align-items: center;
  height: 40px;
  color: white;
}

li a.active {
  background-color: #0b0b0b;
}

li a:hover:not(.active) {
  background-color: #555;
}

.icons{
    height:15px;
    width:15px;
    padding-right: 10px;
}


.header img:active {
  background-color: green;
}

.header a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
}
