.formulario {
    display: flex;
    justify-content: center;
}

.formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.08);
    justify-content: center;
}

.closeButton{
    align-self: flex-end;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 5px;
    padding: 5px;
}