.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 30px;
    overflow: hidden;
    background-color: #303030;
    color: white;
}

