.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
    background-color: #303030;
    color: white;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.341);
    z-index: 1;
}

.header > *{
    padding: 0 40px;
}

